DIV
{
	font-size: 80%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

BODY
{
	background-color: white;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: .8em;
	font-weight: normal;
	letter-spacing: normal;
	text-transform: none;
	word-spacing: normal;
}

H1, H2, H3, H4, H5, TH, THEAD, TFOOT
{
	color: #003366;
}
H1
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 2em;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	word-spacing: normal;
	letter-spacing: normal;
	text-transform: none;
}

H2
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.75em;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	word-spacing: normal;
	letter-spacing: normal;
	text-transform: none;
}

H3
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.58em;
	font-weight: 500;
	font-style: normal;
	text-decoration: none;
	word-spacing: normal;
	letter-spacing: normal;
	text-transform: none;
}

H4
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.33em;
	font-weight: 500;
	text-decoration: none;
	word-spacing: normal;
	letter-spacing: normal;
	text-transform: none;
}

H5, DT
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	word-spacing: normal;
	letter-spacing: normal;
	text-transform: none;
}

H6
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: .8em;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	word-spacing: normal;
	letter-spacing: normal;
	text-transform: none;
}

TFOOT, THEAD
{
	font-size: 1em;
	word-spacing: normal;
	letter-spacing: normal;
	text-transform: none;
	font-family: Arial, Helvetica, sans-serif;
}

TH
{
	vertical-align: baseline;
	font-size: 1em;
	font-weight: bold;
	word-spacing: normal;
	letter-spacing: normal;
	text-transform: none;
	font-family: Arial, Helvetica, sans-serif;
}

A:active
{
	text-decoration: none;
	color: #333399;
}

A:hover
{
	text-decoration: none;
	color: #ff6600;
}

A:link
{
	color: #000080;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-weight: normal;
	font-size: 10pt;
     	text-decoration: none;
}

A:visited
{
	text-decoration: none;
	color: #000080;
}

SMALL
{
	font-size: .7em;
}

BIG
{
	font-size: 1.17em;
}

BLOCKQUOTE, PRE
{
	font-family: Courier New, monospace;
}

UL
{
	list-style-type: circle;
}

UL LI
{
	list-style-type: square;
	margin-bottom: 6px;
}

UL LI LI
{
	list-style-type: disc;
}

UL LI LI LI
{
	list-style-type: circle;
}

OL LI
{
	list-style-type: decimal;
}

OL OL LI
{
	list-style-type: lower-alpha;
}

OL OL OL LI
{
	list-style-type: lower-roman;
}

IMG
{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 2px;
}

.depth
{
	font-weight: bold;
	font-size: 125%;
	/*
	color: white;
	background-color: black;
	*/
}

.element
{
	font-weight: bold;
}

.flowRight
{
	margin-top: 0px;
	display: inline;
	float: left;
	margin-left: 0px;
	margin-right: 10px;
}

.flowLeft
{
	margin-top: 0px;
	display: inline;
	float: right;
	margin-left: 10px;
	margin-right: 0px;
}

.mainMenuCell
{
	font-family: Arial;
	font-size: 8pt;
	text-align: center;
	color: #000080;
	border-left-width: 1px;
	border-right: 1px solid #C0C0C0;
	border-top: 1px solid #C0C0C0;
	border-bottom-width: 1px;
	height: 14;
	font-weight: bold;
}


.currentMenuCell
{
	border-right: #c0c0c0 1px solid;
	border-top: #000080 3px solid;
	font-weight: bold;
	font-size: 8pt;
	color: darkorange;
	font-family: Arial;
	text-align: center;
}

.topicWrapCell
{
	border-right: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	height: 100%;
}

.topicTitle
{
	font-family: Arial;
	font-size: 90%;
	text-align: left;
	font-weight: bold;
}

.topicText
{
	padding-right: 4px;
	padding-left: 4px;
	font-size: 8pt;
	padding-bottom: 4px;
	color: black;
	line-height: 12pt;
	padding-top: 4px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	vertical-align:top;
}

.topicTextCentered
{
	padding-right: 4px;
	padding-left: 4px;
	font-size: 7pt;
	padding-bottom: 4px;
	color: black;
	line-height: 12pt;
	padding-top: 4px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	vertical-align:top;
}

.topicTextLeft
{
	padding-right: 4px;
	padding-left: 4px;
	font-size: 7pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	vertical-align:top;
}

.topicTextLeftIncluded{
	padding-right: 4px;
	padding-left: 4px;
	font-size: 7pt;
	color:teal;
	padding-bottom: 4px;
	padding-top: 4px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	vertical-align:top;
	word-break: break-all;
}

.topicTextLeftSquashed
{
	padding-right: 4px;
	padding-left: 4px;
	font-size: 7pt;
	padding-bottom: 4px;
	line-height: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	vertical-align:top;
	
}

.indentedTopicTextLeft
{
	padding-right: 4px;
	padding-left: 30px;
	font-size: 7pt;
	padding-bottom: 4px;
	line-height: 9pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	word-break: break-all;
}

.keyword
{
	padding-right: 4px;
	padding-left: 4px;
	font-size: 8pt;
	padding-bottom: 4px;
	color: blue;
	padding-top: 4px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
}



.topicTextJustify
{
	padding-right: 4px;
	padding-left: 4px;
	font-size: 8pt;
	padding-bottom: 4px;
	color: black;
	line-height: 12pt;
	padding-top: 4px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: justify;
}

.topicTextRight
{
	padding-right: 4px;
	padding-left: 4px;
	font-size: 7pt;
	padding-bottom: 4px;
	color: black;
	line-height: 12pt;
	padding-top: 4px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
}

.topicSubtitle
{
	font-weight: bold;
	font-size: 12pt;
	line-height: 16pt;
	color: navy;
	font-family: Arial;
}

.announcementCell
{
	background-position: center 50%;
	background-image: url(images/annoucementBorder.gif);
	background-repeat: no-repeat;
}

.blankRow
{
	font-size: 6pt;
	height: 12;
}

.blankRowHalfHeight
{
	font-size: 3pt;
	height: 6;
}

.headerLink
{
	font-weight: normal;
	font-size: 8pt;
	color: #000080;
	font-family: Arial;
	text-align: right;
}

.tickerTable
{
	border: 1px solid #C0C0C0;
}

.copyright
{
	font-family: Arial;
	font-size: 7pt;
	color: #808080;
	height: 14;
}

.footerNotice
{
	font-family: Arial;
	font-size: 7pt;
	color: #000080;
	text-align: right;
}

.footnote
{
	font-family: Arial;
	font-size: 7pt;
	color: #000080;
	text-align: left;
}

.topicTable
{
	background-position: right;
	background-image: url(../images/ruleDots.gif);
	width: 100%;
	background-repeat: repeat-y;
	border-collapse: collapse;
	border: 1
}
.topicHeaderCell
{
	border-bottom: 3px solid #C0C0C0;
	font-family: Arial;
	font-size: 11pt;
	text-align: left;
	color: #800000;
	height: 14;
	text-decoration: none;
	font-weight: bold;
}

.topicCell
{
	padding-right: 5px;
	font-weight: normal;
	font-size: 8pt;
	color: #000080;
	border-bottom: silver 1px solid;
	font-family: Arial;
	text-align: right;
	text-decoration: none;
	vertical-align:top;
}

.currentTopicCell
{
	font-family: Arial;
	font-size: 8pt;
	text-align: right;
	color: #ff6600;
	text-decoration: none;
	border-bottom: silver 1px solid;
	padding-right: 5px;
}

.topicGroupHeaderCell
{
	font-family: Arial;
	font-size: 8pt;
	color: #800000;
	border-bottom: #c0c0c0 2px inset;
	height: 14px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}

.mainTable
{
	border-width: 0;
	height: 95%;
	width: 100%;
}

.subMainTable
{
	border-width: 0;
	height: 100%;
	width: 760;
}


.spacerCell
{
	width: 10;
}

.CAM-InfoTable
{
	border-right: silver 1px solid;
	border-top: silver 1px solid;
	border-left: silver 1px solid;
	width: 100%;
	border-bottom: silver 1px solid;
	height: 120px;
	vertical-align: top;
}

.CAM-InfoTableLeft
{
	border-right: silver 1px dotted;
	vertical-align: top;
	height: 100%;
	width: 225px;
}

.CAM-InfoTableCenter
{
	vertical-align: top;
	height:370px;	
	width: 280px;
}

.CAM-InfoTableRight
{
	vertical-align: top;
	border-left: silver 1px dotted;
	height:100%;
	font-family: Arial;
	font-size:14pt;
	font-weight:bold;
}

.CAM-NewsCell
{
	vertical-align: top;
	padding-bottom:10px;
	border-bottom: silver 1px dotted;
}

.CAM-NewsLink
{
	font-size: 8pt;
	color: #ff6633;
	font-family: Arial;
}

.CAM-RedHotLink
{
	font-family: Arial;
	font-size: 8pt;
	color: #800000;
	vertical-align:middle;
}

.CAM-BlueHotLink
{
	font-family: Arial;
	font-size: 8pt;
	color: #000080;
}

.CAM-BlackHotLink
{
	font-family: Arial;
	font-size: 8pt;
	color: #000000;
}

.CAM-TopicTitle
{
	font-weight: bold;
	font-size: 8pt;
	color: white;
	line-height: 11pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: gray;
	text-align: left;
	padding-left: 4pt;
}

.tagLine
{
	font-family: Sylfaen;
	font-size: 12pt;
	color: #808080;
	font-weight: bold;
}

.hiddenBlock
{
	display: none;
}

.factItem
{
	padding-right: 4px;
	padding-left: 4px;
	font-size: 8pt;
	padding-bottom: 4px;
	color: black;
	padding-top: 4px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: right;
	vertical-align: top;
	font-weight: bold;
}

.factText
{
	padding-right: 4px;
	padding-left: 4px;
	font-size: 8pt;
	padding-bottom: 4px;
	color: black;
	line-height: 12pt;
	padding-top: 4px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	vertical-align: top;
}

.siteMapSubtitle
{
	font-size: 75%;
	font-family: Arial;
	text-align: left;
	font-weight: bold;
}

.siteMapTopic
{
	padding-left: 20px;
	font-size: 70%;
	font-family: Arial;
	text-align: left;
}

.confMainTable
{
	border-right: silver 1px solid;
	border-top: silver 1px solid;
	border-left: silver 1px solid;
	border-bottom: silver 1px solid;
	vertical-align: top;
	}
	
.confJoinTable
{
	border-right: silver 1px solid;
	border-top: silver 1px solid;
	border-left: silver 1px solid;
	border-bottom: silver 1px solid;
	vertical-align: top;	
	padding:0 0 0 0;
	height:275;
	width:275;
	}
	
.confHostTable
{
	border-right: silver 1px solid;
	border-top: silver 1px solid;
	border-left: silver 1px solid;
	border-bottom: silver 1px solid;
	vertical-align: top;
	padding:0 0 0 0;
	height:275;
	width:275;
	}
	
.confTestLink
{
	font-weight: normal;
	font-size: 8pt;
	color: #008080;
	font-family: Arial;
	text-align: center;
}

.confHelpLink
{
	font-weight: normal;
	font-size: 8pt;
	color: #000080;
	font-family: Arial;
	text-align: center;
}
.confText
{
	font-weight: normal;
	font-size: 8pt;
	color: #000000;
	font-family: Arial;
	text-align: center;
}
.confHeaderCell
{
	font-weight: bold;
	color: navy;
	font-family: Arial;
	border-bottom: 1px solid #C0C0C0;
	font-size: 11pt;
	text-align: center;
	height: 14;
	text-decoration: none;
	font-weight: bold;
}
.confButton
{
	width: 75;
	border-right: silver 1px solid;
	border-top: silver 1px solid;
	vertical-align: middle;
	border-left: silver 1px solid;
	border-bottom: silver 1px solid;
	text-align: center;
	background-color: transparent;
}

.caseStudy
{
	background-color: lightgoldenrodyellow;
	border-spacing: 1;
	border-right: black 1px solid;
	border-top: black 1px solid;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
}

.path { FONT-SIZE: 7pt; 
        word-break: break-all;
        width: 15%;
        valign:top;
       }

.rule { FONT-SIZE: 7pt;
	word-break: break-all;
	width: 50%;
}

.ruleAnnotation { FONT-SIZE:.8em; WIDTH:25% }
.ruleAnnotationHeader { FONT-SIZE:9pt;font-color:black;text-align:left;padding-left:20em; }
.ruleAnnotationBody { FONT-SIZE:7pt; vertical-align: top;  }

.annotation { FONT-SIZE:.8em; WIDTH:25% }
.annotationHeader { FONT-SIZE:8pt }
.annotationBody { FONT-SIZE:7pt }
